<script>
	jQuery(document).ready(function($) {
		$("#add_req_form").submit(function(event) {
			var id=$(this).attr("idPro");
			var data=$(this).serializeObject()
			$.ajax({
				url: '/proyectos/agregarReq/'+id+"/",
				type: 'POST',
				data:data
			})
			.done(function(r) {
				if(r.result==true){
					//$("#form_add").html("");
					autocallback();
				}
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});
			return false;
		});
	});
</script>
<div class="form">
	<form action="/" method="post" idPro="{{idPro}}" id="add_req_form">
		{% csrf_token%}
		{{form.as_ul}}
    	<input type="submit" value="Enviar"/>
	</form>
</div>