<script>
	jQuery(document).ready(function($) {
		$("#id_buscar").on("keyup",function(e){
			if(e.which!=8){
				$.ajax({
					url: '/proyectos/buscarProyecto/',
					type: 'POST',
					data: $("#busqueda").serializeObject()
				})
				.done(function(html) {
					
					$("#resultados").html(html)
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});	
			}
		});
	});
</script>
<div id="buscadorPro">
	<div class="header">Busqueda de Proyectos</div>
	<form action="" method="post" id="busqueda">
		{%csrf_token%}
		{{form}}
	</form>
</div>
<div id="resultados">

</div>