<script>
	jQuery(document).ready(function($) {
		$("#crearPro").submit(function(event) {
			form=$(this).serializeObject()
			formulario=$(this)
			$.ajax({
				url: '/proyectos/crearProyecto/',
				type: 'POST',
				data: form,
			})
			.done(function(e) {
				formulario.hide("fast",function(){
					$("#datahtml").html(e)
				});
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});
			
			return false;
		});
	});
</script>
<div id="buscadorPro">
	<div class="header">
		Crear Proyecto
	</div>
	<form action="" method="post" id="crearPro">
		{%csrf_token%}
		{{form.as_ul}}
		<input type="submit" value="Enviar"/>
	</form>
</div>