<script>
	jQuery(document).ready(function($) {
		$("#minimenu").css({
			'visibility': 'visible'});
		//default View
		var llamdaAsincrona=function(href,obj){
		$("#containerProyectos").animate({
			'opacity': 0},
			400, function() {
			$.ajax({
				url: href,
				type: 'GET',
				data: {},
			})
			.done(function(html) {
				obj.html(html)
				$("#containerProyectos").animate({
					'opacity': 1},
					400, function() {
					/* stuff to do after animation is complete */
				});
				console.log("success");
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});	
		});
		
		}
		llamdaAsincrona("/proyectos/buscarProyecto/",$("#containerProyectos"))
		$("#submenuPro li a").click(function(event) {
			event.preventDefault();
			var href=$(this).attr("href");
			llamdaAsincrona(href,$("#containerProyectos"))
		});
		$("#submenuEst li a").click(function(event) {
			event.preventDefault();
			var href=$(this).attr("href");
			llamdaAsincrona(href,$("#containerProyectos"))
		});
	});
	
</script>
<div id="principalProyectos">
<ul id="menuProyectos">
	<li>
		<div class="ion-paper-airplane"></div>
		<a href="#proyectos">Proyectos</a>
		<ul id="submenuPro">
			<li>
				<div class="ion-android-search"></div>
				<a href="/proyectos/buscarProyecto/">Buscar</a>
			</li>
			<li>
				<div class="ion-grid"></div>
				<a href="/proyectos/listarProyectos/">Listar Todos</a>
			</li>
			<li>
				<div class="ion-android-add"></div>
				<a href="/proyectos/crearProyecto/">Crear</a>
			</li>
		</ul>
	</li>
	<li>
		<div class="ion-man"></div>
		<a href="#estudiante" url="/proyectos/estudiante/" extra="/proyectos/buscarEstudiante/" >Estudiantes</a>
		<ul id="submenuEst">
			<li>
				<div class="ion-android-search"></div>
				<a href="/proyectos/buscarEstudiante/">Buscar</a>
			</li>
			<li>
				<div class="ion-ios7-keypad"></div>
				<a href="/proyectos/ultimoestudiante/">Listar</a>
			</li>
			<li>
				<div class="ion-android-add-contact"></div>
				<a href="/proyectos/estudiante/">Crear</a>
			</li>
		</ul>
	</li>

</ul>
<div id="containerProyectos">

</div>
</div>
